@font-face {
  font-family: miltonian-tattoo;
  src: url("./fonts/MiltonianTattoo-Regular.woff2") format("woff2"),
    url("./fonts/MiltonianTattoo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: miltonian-tattoo, sans-serif;
  font-size: 2rem;
  line-height: 1.5;

  --primary-text-color: #000;
  --heading-color: #d11212;
  --accent-color: #0070c1;
}

.resume__heading {
  font-size: 6.4rem;
  font-weight: 400;
  position: relative;
}

.resume__heading::after {
  content: "";
  display: block;
  background: no-repeat center / cover url("./assets/divider.png");
  width: 238px;
  height: 119px;
  margin: 0 auto;
  margin-top: -60px;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 900px;
}

.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume {
  margin: 50px auto;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 7px 7px #f5f5f5;
  padding: 30px;
  max-width: 846px;
  background: no-repeat center / cover url("./assets/background.png");
  position: relative;
}

.resume::before {
  content: "";
  position: absolute;
  background: no-repeat center / cover url("./assets/skull.png");
  width: 135px;
  height: 180px;
  top: 0;
  right: 12px;
}

.resume::after {
  display: block;
  text-align: right;
  content: "DEVELOPER";
  font-size: 3.5rem;
}

.resume__block {
  border-bottom: 2px solid #000;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.resume__block_no-border {
  border: none;
}

/* ===== CONTACT INFO ===== */

.contact-info__container {
  justify-content: center;
}

.contact-info__header,
.contact-info__sub-header,
.resume__heading {
  text-align: center;
}

.contact-info__header {
  color: #d11212;
  font-weight: 400;
}

.contact-info__sub-header {
  color: #0070c1;
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.contact-info__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-info__block--center {
  justify-content: center;
  position: relative;
}

.contact-info__item {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  justify-content: start;
}

.contact-info__item-icon-wrapper {
  margin-right: 10px;
  width: 38px;
  display: flex;
  justify-content: center;
}

.contact-info__item-icon path {
  fill: var(--icon-color);
}

.contact-info__item-icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.contact-info__avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--text-decoration-color);
}

.avatar-hat {
  position: absolute;
  bottom: 0;
  right: 40%;
  transform: translateX(50%);
}

/* ===== INTRO ===== */

.intro {
  display: flex;
  justify-content: start;
}

.intro__icon-wrapper {
  margin-right: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.intro__icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.intro__icon path {
  fill: #d11212;
}

.intro_text {
  color: #000;
  text-align: justify;
  font-size: 20px;
}

/* ===== SKILLS ==== */

.skills__header,
.languages__header {
  color: #d11212;
  text-align: center;
  margin-bottom: 15px;
}

.skills__text {
  color: var(--secondary-text-color);
  text-align: justify;
}

.rated-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.rated-item__rank {
  display: flex;
  gap: 5px;
}

.rated-item__point {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: no-repeat center / cover url("./assets/skill-rank.png");
}

.rated-item__point-disabled {
  filter: brightness(50%);
}

/* ===== EXPERIENCE ===== */

.experiences {
  flex: 1 1 45%;
  margin-right: 40px;
}

.experiences__header {
  color: #d11212;
  text-align: left;
  margin-bottom: 20px;
}

.projects-list {
  margin-left: 20px;
}

.project {
  line-height: 1.5;
  font-size: 20px;
}

.project__title {
  color: #0070c1;
}

.project__description {
  text-align: justify;
}

.project:not(.project:last-child) {
  margin-bottom: 20px;
}

/* ===== ADDITIONAL INFO ===== */

.additional-info {
  flex: 1 1 45%;
  justify-content: flex-start;
  gap: 30px;
}

@media screen and (width <= 640px) {
  .resume {
    padding: 5px;
  }

  .main-info,
  .contact_info_container {
    flex-direction: column;
  }

  .contact_info_container {
    align-items: center;
  }

  .contact-info__block:not(:last-child) {
    margin-bottom: 20px;
  }

  .experiences {
    margin-bottom: 20px;
    margin-right: 0;

    & .experiences__header {
      text-align: center;
    }
  }

  .resume::before {
    display: none;
  }
}
